.dary-dashang
  text-align: center;
  margin: 20px 0;
  h3
    border-bottom: 0;
  ul
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    li
      margin: 0;
      padding: 0;
      width: 17%;
      img
        width: 100%;
      &:first-child
        margin-right: 30px;